@mixin container{
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 576px) {
  @mixin container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  @mixin container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  @mixin container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  @mixin container {
    max-width: 1140px;
  }
}
@mixin center-grid{
  display: grid;
  place-items: center;
}
@mixin flex($direction){
  display: flex;
  flex-direction: ($direction);
}

@mixin flex-center($direction){
  display: flex;
  flex-direction: ($direction);
  align-items: center;
  justify-content: center;
  height: 100vh;
}

